/* #form{
    display: flex;
    flex-direction: column;
    font-size: 28px;
    color: black;
    font-weight: bold;
    width: 30%;
    justify-content: center;
} */

#title{
    text-align: center;
}
#sel{
    padding:20px
}

#form{
    background: linear-gradient(0.25turn, pink, white, pink);
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;

}

#form input{
    height: 40px;
    margin-top: 30px;
    margin-bottom:20px;
    width: 50%;
}
label{
    margin-top: 30px;
}

#form button{
    margin: 30px;
    width: 200px;
    background-color: pink;
    font-size: 30px;
    border: 4px solid black;
    color: black;
}

#form button:hover{
    background-color: black;
    color: pink;
}

@media(max-width:600px){
    #form{
        display: flex;
        flex-direction: column;
        font-size: 28px;
        color: black;
        font-weight: bold;
        justify-content: center;
    }
}