#prod h1{
    text-align: center;
}

#inven{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(0.25turn, pink, white, pink);
    padding-left: 155px;
}

#prod{
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
}

#prod p{
}





@media(max-width:600px){
    #inven{
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    #p{
        /* margin:75px */
        width: 60%;
    }

    #prod{
        
    }
}