#styles{
    display:flex;
    justify-content: space-around;
    background: linear-gradient(0.25turn, pink, white, pink);
    flex-direction: row;

}

#style{
    display:flex;
    justify-content: space-around;
    background: linear-gradient(0.25turn, pink, white, pink);
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;


}
#h{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

#p{
    margin: 40px;
        border: 5px solid black;
        border-radius: 10px;
        background-color: white;
        justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#button{
    border:none;
    font-weight: bold;
    display:flex;
    cursor: pointer;
    
}

#bu{
    border:none;
    background-color: white;
    font-weight: bold;
    display:flex;
    cursor: pointer;
    margin: 20px;
}

#s{
    border: 2px, solid, black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    align-items: left;
    display: flex;
    border: 3px solid black
}

#s p{
    font-weight: 900;
    margin: 0px;
    margin-top:20px
}
#s img{
    width:200px
}

@media(max-width:600px) {
    #style{
        flex-direction: column;
    }

    #s{
        margin:30px
    }
}